@model MusicaWebsite.Models.MainPageModel
@{
    ViewBag.Title = "Register";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <!-- Wrapper -->
    <div class="d-flex" id="wrapper">
        <!-- Sidebar -->
        <div class="" id="sidebar-wrapper">
            <div class="sidebar-heading">WeSound</div>
            <div class="list-group list-group-flush border-0">
                <a href="#" class="list-group-item list-group-item-action border-0 rounded active">
                    <i class="fas fa-home"></i>&nbsp;Home
                </a>
                <a href="#" class="list-group-item list-group-item-action border-0 rounded">
                    <i class="fas fa-search"></i>&nbsp;Search
                </a>
                <!-- if authenticated -->
                <!-- <a href="#" class="list-group-item list-group-item-action border-0 rounded"><i
                class="fas fa-headphones-alt"></i>&nbsp;Your Library</a> -->
                <!-- /if authenticated -->
                <!-- if not authenticated -->
                <a href="#" class="list-group-item list-group-item-action border-0 rounded" data-toggle="modal"
                   data-target="#requireLoginModal"><i class="fas fa-headphones-alt"></i>&nbsp;Your Library</a>
                <!-- /if not authenticated -->
            </div>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-lg">
                <button class="btn btn-primary" id="menu-toggle"><i class="far fa-play-circle"></i></button>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    @*<div class="rounded-pill ml-3" id="search">
                        <span class="input-group-append text-dark mt-3 ml-3">
                            <i class="fa fa-search"></i>
                        </span>
                        <input id="searchbar" type="search" class="form-control form-control-sm ml-5 mt-n4 border-0"
                               placeholder="Search for Artists, Songs or Podcast ">
                    </div>*@
                    @Html.Partial("_LoginPartial")
                </div>
            </nav>
            @RenderBody()
            <div class="col-md-12 fixed-bottom text-center" id="now-playing-bar">
                <div class="player-control">
                    <div class="control-button-wrapper">
                        <i class="fas fa-random"></i>
                        <i class="fas fa-step-backward"></i>
                        <i class="far fa-play-circle" id="play-button"></i>
                        <i class="fas fa-step-forward"></i>
                        <i class="fas fa-redo"></i>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Page Content Wrapper-->
    </div>
    <!-- /Wrapper-->
    <!--/ Require Login Modal -->
    <div id="requireLoginModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content bg-primary">
                <div class="modal-body">
                    <div class="row text-light">
                        <div class="col-md-6">
                            <h2>Get your free WeSound account</h2>
                            <ul>
                                <li>
                                    <i class="fas fa-check"></i>
                                    No credit card
                                </li>
                                <li>
                                    <i class="fas fa-check"></i>
                                    Share your songs
                                </li>
                                <li>
                                    <i class="fas fa-check"></i>
                                    Discover new music
                                </li>
                            </ul>
                            <a class="text-light" href="#" data-toggle="modal" data-dismiss="modal">CLOSE</a>
                        </div>
                        <div class="col-md-6">
                            <div class="card bg-light border-0 shadow">
                                <div class="card-body">

                                    <button class="btn btn-success rounded-pill w-80 mx-auto d-block" data-toggle="modal"
                                            data-dismiss="modal" data-target="#registerModal">
                                        SIGN UP FREE
                                    </button>
                                    <hr>
                                    <div class="row">
                                        <p class="text-dark text-center">Don't have an account?</p>
                                        <button class="btn btn-secondary rounded-pill w-80 mx-auto d-block" data-toggle="modal"
                                                data-dismiss="modal" data-target="#registerModal">
                                            LOG
                                            IN
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ Require Login Modal -->
    <!--/Login Modal -->
    <div id="loginModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-dark">LOG IN</h4>
                    <button type="button" class="close ml-auto" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(m => m.LoginViewModel.Email, new { @class = "col-md-2 control-label" })
                          
                                @Html.TextBoxFor(m => m.LoginViewModel.Email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.LoginViewModel.Email, "", new { @class = "text-danger" })
                           
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.LoginViewModel.Password, new { @class = "col-md-2 control-label" })
                          
                                @Html.PasswordFor(m => m.LoginViewModel.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.LoginViewModel.Password, "", new { @class = "text-danger" })
                            
                        </div>
                        <div class="form-group">
             
                    <div class="checkbox">
                        @Html.CheckBoxFor(m => m.LoginViewModel.RememberMe)
                        @Html.LabelFor(m => m.LoginViewModel.RememberMe)
                    </div>
                
                     </div>
                        <div class="form-group">
                
                                <button type="submit" class="btn btn-success rounded-pill w-50 mx-auto d-block">
                                    LOG
                                    IN
                                </button>
                         
                        </div>
                        <p class="text-dark text-center">Don't have an account?</p>
                        <div class=" row">
                            <button class="btn btn-secondary rounded-pill w-80 mx-auto d-block" data-toggle="modal" data-dismiss="modal"
                                    data-target="#registerModal">
                                SIGN UP FOR MUSICA
                            </button>
                        </div>
                    }
                    </div>
            </div>
        </div>
    </div>
    <!--/Login Modal -->
    <!-- Register Modal -->
    <div id="registerModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-dark">SIGN UP</h4>
                    <button type="button" class="close ml-auto" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm("Register", "Account", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.RegisterViewModel.Email, new { @class = "form-control", placeholder = "Email" })

                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    @Html.TextBoxFor(m => m.RegisterViewModel.FirstName, new { @class = "form-control", placeholder = "First Name" })
                                </div>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(m => m.RegisterViewModel.LastName, new { @class = "form-control", placeholder = "Last Name" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.PasswordFor(m => m.RegisterViewModel.Password, new { @class = "form-control", placeholder = "Password" })
                        </div>
                        <div class="form-group">
                            @Html.PasswordFor(m => m.RegisterViewModel.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password" })
                        </div>
                        <div class="form-group">
                            <label class="text-dark" for="">Date of Birth</label>
                            <div class="row">
                                <div class="col-md-4">
                                    @Html.TextBoxFor(m => m.RegisterViewModel.Date, new { @class = "form-control", placeholder = "Date" })
                                </div>
                                <div class="col-md-4">
                                    @Html.DropDownListFor(m => m.RegisterViewModel.Month, new SelectList(new List<SelectListItem>
                               {
                                new SelectListItem { Selected = true, Text = "-Month-", Value = ""},
                                new SelectListItem { Selected = false, Text = "January", Value = "01"},
                                new SelectListItem { Selected = false, Text = "February", Value = "02"},
                                 new SelectListItem { Selected = false, Text = "March", Value = "03"},
                                new SelectListItem { Selected = false, Text = "April", Value = "04"},
                                 new SelectListItem { Selected = false, Text = "May", Value = "05"},
                                new SelectListItem { Selected = false, Text = "June", Value = "06"},
                                 new SelectListItem { Selected = false, Text = "July", Value = "07"},
                                new SelectListItem { Selected = false, Text = "August", Value = "08"},
                                 new SelectListItem { Selected = false, Text = "September", Value = "09"},
                                new SelectListItem { Selected = false, Text = "October", Value = "10"},
                                 new SelectListItem { Selected = false, Text = "November", Value = "11"},
                                new SelectListItem { Selected = false, Text = "December", Value = "12"},
                               }, "Value", "Text"), htmlAttributes: new { @class = "form-control" })
                                
                                </div>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(m => m.RegisterViewModel.Year, new { @class = "form-control", placeholder = "Year" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group text-dark align-item-center">
                            <div class="form-check form-check-inline">
                                @Html.RadioButtonFor(m => m.RegisterViewModel.Gender, "Male", new { @class = "form-check-input", @checked = "checked" })

                                <label class="form-check-label" for="inlineRadio1">Male</label>
                            </div>
                            <div class="form-check form-check-inline">
                                @Html.RadioButtonFor(m => m.RegisterViewModel.Gender, "Female", new { @class = "form-check-input" })

                                <label class="form-check-label" for="inlineRadio2">Female</label>
                            </div>
                            <div class="form-check form-check-inline">
                                @Html.RadioButtonFor(m => m.RegisterViewModel.Gender, "Other", new { @class = "form-check-input" })
                                <label class="form-check-label" for="inlineRadio3">Other</label>
                            </div>


                        </div>
                        <div class="row">
                            <button type="submit" class="btn btn-success rounded-pill w-50 mx-auto d-block">
                                Sign
                                Up
                            </button>
                        </div>
                        <div class="row">
                            <p class="text-dark mx-auto d-block">
                                Alreay have account? <a href="#" data-toggle="modal" data-dismiss="modal"
                                                        data-target="#loginModal">Log In</a>
                            </p>
                        </div>
                    }
                </div>
              
              
            </div>
        </div>
    </div>
    <!--/Register Modal -->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
        $('.list-group-item').on('click', function () {
            $(this).addClass('active').siblings().removeClass('active')
        })
        
    </script>
</body>
</html>
